%h1.ui.header Things to Do
.ui.tabular.two.item.menu
  .ui.left.floated.item.active{ data: { tab: 'incomplete' } }
    %strong.ui Incomplete Things
    .ui.red.label= @overdue_things.count
  .item{ data: { tab: 'complete' } }
    %strong="Completed Things"
    .ui.green.label= @current_things.count
.ui.basic.active.tab.segment{ data: { tab: 'incomplete' } }
  - if @overdue_things.any?
    = render "cards", things: @overdue_things
  - else
    %p Everything is done! Relax and enjoy yourselves!
    .ui.center.aligned.basic.segment
      %i.ui.massive.red.heart.icon.middle.aligned
      %i.ui.massive.teal.handshake.icon.middle.aligned
      %i.ui.massive.yellow.star.icon.middle.aligned
.ui.basic.tab.segment{ data: { tab: 'complete' } }
  = render "cards", things: @current_things
